/*You can edit any of these URLs*/
* {
  cursor: url("https://cdn.custom-cursor.com/db/4732/32/arrow2699.png"), auto;
}

a {
  cursor: url("https://cdn.custom-cursor.com/db/4731/32/arrow2699.png"), auto;
}

input {
  cursor: url("https://cdn.custom-cursor.com/db/4731/32/arrow2699.png"), auto;
}

#header-avatar {
  cursor: url("https://cdn.custom-cursor.com/db/4731/32/arrow2699.png"), auto;
}
