/* You can change these values*/
:root {
  --horizontal-duration: 29.91s;
  --vertical-duration: 20.73s;
  --horizontal-delay: -6s;
  --vertical-delay: -3s;
}
/* DO NOT TOUCH THESE*/
#profile-top-left img {
  position: fixed;
  width: 128px;
  height: 128px;
  animation: var(--horizontal-duration) linear var(--horizontal-delay) infinite forwards horizontal, var(--vertical-duration) linear var(--vertical-delay) infinite forwards vertical;
}
/* DO NOT TOUCH THESE*/
#profile-top-left > * {
  text-align: center;
}
/* DO NOT TOUCH THESE*/
@keyframes horizontal {
  0% {
    left: 0%;
  }

  50% {
    left: calc(100% - 128px);
  }

  100% {
    left: 0%;
  }
}
/* DO NOT TOUCH THESE*/
@keyframes vertical {
  0% {
    top: 0%;
  }

  50% {
    top: calc(100% - 128px);
  }

  100% {
    top: 0%;
  }
}
