:root {
  --horizontal-duration: 19.94s;
  --vertical-duration: 13.82s;
  --horizontal-delay: -4s;
  --vertical-delay: -2s;
}

#profile-top-left img {
  position: fixed;
  width: 128px;
  height: 128px;
  animation: var(--horizontal-duration) linear var(--horizontal-delay) infinite forwards horizontal, var(--vertical-duration) linear var(--vertical-delay) infinite forwards vertical;
}

#profile-top-left > * {
  text-align: center;
}

@keyframes horizontal {
  0% {
    left: 0%;
  }

  50% {
    left: calc(100% - 128px);
  }

  100% {
    left: 0%;
  }
}

@keyframes vertical {
  0% {
    top: 0%;
  }

  50% {
    top: calc(100% - 128px);
  }

  100% {
    top: 0%;
  }
}
