@import "https://fonts.googleapis.com/css?family=Exo+2";

body:after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(#12101000 50%, #00000040 50%), linear-gradient(90deg, #ff00000f, #00ff0005, #0000ff0f);
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

body > * {
  font-family: "Exo 2", "Exo 2";
}
